
@model NetC.JuniorDeveloperExam.Web.ViewModels.CommentReplyFormViewModel
<!-- Blog post comment form -->
<div class="js-reply-form reply-form" data-comment-id="@Model.CommentId" style="display: none">
    <div>
        @using (Html.BeginForm("AddReply", "Blog", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.BlogId)
            @Html.HiddenFor(m => m.CommentId)

            <div class="form-row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.Name)
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Name" })
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "email", placeholder = "Email Address" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Message)
                @Html.TextAreaFor(m => m.Message, new { @class = "form-control", rows = "3" })
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-primary" onclick="javascript: ToggleReplyForm(@Model.CommentId)">Cancel</button>
        }
    </div>
</div>